.settings-tab a {
  color: var(--text-primary-color);
  text-decoration: none;
}
.settings-tab ul {
  border: none;
}

.settings-tab .p-highlight a {
  border-bottom: solid 2px var(--text-primary-color);
  /* margin: 0; */
}

.settings-tab .p-tabmenuitem {
  height: min-content;
}
.settings-tab a {
  border: 0;
  margin: 0;
}
