<app-auth-container>
  <div class="d-flex flex-column login-container form-content">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="greetings d-flex flex-column align-items-center">
        <p class="fs-4 fw-bold mb-0">Hello!</p>
        <span class="text-lighter fs">Signin to your account</span>
      </div>
      <form [formGroup]="loginForm" class="d-flex gap-2 flex-column mt-3 w-100">
        <div class="w-100">
          <input
            pInputText
            id="email"
            type="email"
            formControlName="email"
            aria-label="Email"
            placeholder="Email"
            aria-describedby="email-help"
            [ngClass]="'w-100'"
          />
          <div
            *ngIf="
              loginForm.get('email')?.touched && loginForm.get('email')?.invalid
            "
          >
            <small
              id="email-help"
              *ngIf="loginForm.get('email')?.errors?.['required']"
              class="text-danger fs-6"
              >Email is required</small
            >
            <small
              id="email-help"
              *ngIf="loginForm.get('email')?.errors?.['email']"
              class="text-danger fs-6"
              >Invalid email</small
            >
          </div>
        </div>

        <div class="w-100">
          <p-password
            formControlName="password"
            inputStyleClass="w-100"
            [feedback]="false"
            [toggleMask]="true"
            placeholder="Password"
            aria-describedby="password-help"
          />
          <div
            *ngIf="
              loginForm.get('password')?.touched &&
              loginForm.get('password')?.invalid
            "
          >
            <small
              id="password-help"
              *ngIf="loginForm.get('password')?.errors?.['required']"
              class="text-danger fs-6"
              >Password is required</small
            >
          </div>
        </div>
      </form>
      <div class="fs-6 w-100 d-flex gap-1 justify-content-end">
        Forgot password?
        <span class="fw-medium text-info-emphasis cursor-pointer">Reset</span>
      </div>

      <div class="d-flex justify-content-between w-100 mt-3 align-items-center">
        <p class="fs-6 mb-0">
          Don't have an account?
          <span
            class="fs-6 fw-medium text-info-emphasis cursor-pointer"
            (click)="redirectToRegister()"
            >Create</span
          >
        </p>
        <p-button
          icon="pi pi-arrow-right"
          styleClass="rounded-circle submit-btn"
          size="large"
          [rounded]="true"
          (onClick)="submitForm()"
        />
      </div>
      <p-divider align="center" styleClass="w-100">
        <b>OR</b>
      </p-divider>

      <div class="google-login"></div>
      <!-- Google Login -->
      Google Login
    </div>
  </div>

  <div class="desc-content text-white">
    <h2 class="text-white text-center">Welcome Back</h2>
    <h3>Ready to add the expenses?</h3>
  </div>
</app-auth-container>
