:host{
  --bg-color:linear-gradient(#8428e3, #3c01f3);
  --bg-color-hover:linear-gradient(#3c01f3, #8428e3);
}

.login-container {
  // background-color: rgb(240, 240, 240);
  padding: 5rem;
  width: clamp(300px, 50%, 900px);

  ::ng-deep .p-password{
    width: 100%;
  }
  ::ng-deep .submit-btn{
    background: var(--bg-color);
    border: 0;
  }
  ::ng-deep .submit-btn:focus{
    box-shadow: none;
  }

  ::ng-deep .submit-btn:hover{
    background: var(--bg-color-hover) ;
    opacity: .8;
  }
  ::ng-deep p-divider{
    width: 100%;
  }

}
