.bg-pink{
    background-color: rgb(247, 11, 168);
}
.bg-blue{
    background-color: rgb(0, 0, 255);
}
.bg-gray{
    background-color: rgb(128, 128, 128);
}
.bg-megenta{
    background-color: rgb(136, 11, 11);
}